@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/* CSS RESET */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* CSS */

body {
  font-family: 'Roboto', sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
}

h1 {
  color: #333;
  font-size: 48px;
  font-weight: 600;
  margin: 32px;
}

.countries-list {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  margin: 32px;
}

.countryCard {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 8px 16px;
  border-radius: 4px;
  background-color: white;
  width: 128px;
  cursor: pointer;
}

.img-card {
  height: 64px;
}

h2 {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.25;
}


/* 👇 CODIGO DE LA LIVE REVIEW EMPIEZA DESDE AQUÍ (lo he actualizado para mejorar el layout) 👇 */

/* body {
  font-family: 'Arial', sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
}

h1 {
  color: #333;
}

ul {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  gap: 20px;
  flex-wrap: wrap;
  list-style: none;
} 

.card {
  width: 250px;
}

.card img {
  width: 100%;
}
*/

.info {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.428);
  display: none;
}

.result {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.info-country {
  background-color: white;
  padding: 16px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 250px;
}

.visible {
  display: block;
}

.closed,
.card {
  cursor: pointer;
}

.closed:hover {
  color: darkred;
}